rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.token.firebase.sign_in_provider != 'anonymous'
                         && request.auth.uid == userId;
    }
    match /gameGenerationUsage/{documentId} {
      allow read, write: if false;
    }
  }
}
